/* Main */
.footer {
  display: grid;
  width: 100svw;
  place-content: center;
  align-items: center;
  border-top: 1px solid var(--primary);

}

.footer-wrapper {
  width: 100svw;
  display: grid;
  grid-template-columns: repeat(6, 100px);
  position: relative;
  transform: translateX(-100px);

}

.body-wrapper .footer-wrapper {
  transform: translateX(-100px);
  position: initial;
}
.body-wrapper .footer-wrapper::before {
  display: none;
}

/* Content */
.footer-wrapper > div {
  height: 100%;
  border-left: 1px solid var(--primary);
  padding-bottom: 8rem;
}
.footer-wrapper > :first-child {
  grid-column: 3 / 4;
}
.footer-wrapper > :nth-child(2) {
  grid-column: 4 / 5;
}

.footer-container {
  padding: 0.5rem 0 0 0.5rem;
}
.footer-content {
  display: flex;
  flex-direction: column;
}
.footer-title {
  color: var(--secondary);
}
.footer-skills,
.footer-links {
  font-family: "League Gothic", sans-serif;
  color: var(--primary);
}
.footer-links {
  text-transform: uppercase;
  position: relative;
  display: block;
  z-index: 2;
}

.footer-terms {
  color: var(--primary);
  grid-column: 4 / 5;
  align-self: end;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  position: absolute;
}

@media screen and (min-width: 850px) {
  .footer-wrapper {
    border-right: 1px solid var(--primary);
    transform: translateX(0);
  }
  .footer-wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: var(--primary);
    transform: translateX(100px);
  }
  .footer-wrapper::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: var(--primary);
    transform: translateX(-99px);
  }
  .footer-terms {
    grid-column: 5 / span 3;
    position: initial;
    margin: 0;
  }

  /* .footer {
    border-top: 1px solid var(--primary);
  }
  
  .footer-wrapper {
    border:0;
  
  } */
}
@media screen and (min-width: 1024px) {
  .footer-terms {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0;
    align-self: auto;
    grid-column: unset;
  }
}
