/* MAIN */
.header {
  width: 100vw;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100svw;

  border-bottom: 1px solid var(--primary);
  height: 100px;
  padding: .5rem;
  padding-left: .5rem;
  z-index: 100;
}

.header-logo {
    height: 100%;
}
.header-logo > img {
  height: 100%;
}

/* BURGER */
.header-burger {
  cursor: pointer;
  z-index: 1000;
}

.header-burger span {
  display: block;
  width: 35px;
  height: 1.5px;
  margin: 7px;
  background-color: var(--primary);
  transition: all 0.3s ease-in-out;
}

/* When open */
.header-burger.open span:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 8.5px;
}

.header-burger.open span:nth-child(2) {
  transform: scaleX(0);
  transform-origin: center;
}

.header-burger.open span:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -8.5px;
}

/* NAV */
.header-menu {
  background-color: var(--background);
  position: fixed;
  right: 0;
  height: 100%;
  width: 100%;
  display: none;
  transition: transform 0.3s ease-in-out;
  z-index: 999;
}

/* When open */
.header-menu.open {
  display: block;
}
