/* MAIN */



/* BURGER */
.header-burger {
    position: absolute;
    top: 3rem;
    right: 1.5rem;
    cursor: pointer;
    z-index: 1000;
}

.header-burger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #333;
}

/* NAV */
.header-wrapper {
    background-color: red;
    position: fixed;
    top: 2rem;
    right: 0;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
}

.header-wrapper.open {
    transform: translateX(0);
}

.header-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-menu li {
    padding: 1rem;
}

.header-menu li a {
    text-decoration: none;
    color: #333;
}