/* HERO */
.hero {
  width: 100%;
  height: calc(100svh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4svw;
  transform: translateY(-5%);
  margin-bottom: 3svw;
}

.hero svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* SECTION 1*/
.section-1 {
  display: grid;
  place-content: center;
  align-items: center;
}
.section-1 > * {
  width: 100svw;
  z-index: -1;
}

.section-1-rect {
  fill: var(--background);
  position: relative;
  z-index: -1;
}

/* ABOUT */
.about {
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  align-items: end;

  background-color: var(--background);
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 0 2rem;
  align-self: center;
}

@media screen and (min-width: 850px) {
  .about-content {
    margin: 0 5rem;
  }
}


.about-title {
  display: flex;
  flex-direction: column;
  font-size: 100px;
}

.about-img-container {
  display: none;
  align-items: end;
}
@media screen and (min-width: 700px) {
  .about-img-container {
    display: flex;
  }
  .about {
    grid-template-columns: 3fr 2fr;
  }
}
.about-img {
  width: 100%;
}

.about-text {
  width: 70%;
}

.about-skills {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-bottom: 2rem;
}

.about-skills > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.about-skills > div * {
  display: flex;
  gap: 1rem;
}
.about-skills > div * * {
  width: 48px;
  position: relative;
}
.about-skills > div * *:hover::after {
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(75, 75, 75);
  border-radius: 5px;

  left: -50%;

  width: 100px;
  height: 20px;
}
.about-skills > div *:nth-child(1) *:hover::after {
  top: -50%;
}
.about-skills > div *:nth-child(2) *:hover::after {
  bottom: -50%;
}
.about-skills > div span:nth-child(1) span:nth-child(1):hover::after {
  content: "Photoshop";
}
.about-skills > div span:nth-child(1) span:nth-child(2) {
  transition-delay: 200ms;
}
.about-skills > div span:nth-child(1) span:nth-child(2):hover::after {
  content: "Illustrator";
}
.about-skills > div span:nth-child(1) span:nth-child(3) {
  transition-delay: 300ms;
}
.about-skills > div span:nth-child(1) span:nth-child(3):hover::after {
  content: "Figma";
}
.about-skills > div span:nth-child(1) span:nth-child(4) {
  transition-delay: 400ms;
}
.about-skills > div span:nth-child(1) span:nth-child(4):hover::after {
  content: "Krita";
}
.about-skills > div span:nth-child(1) span:nth-child(5) {
  transition-delay: 500ms;
}
.about-skills > div span:nth-child(2) span:nth-child(1) {
  transition-delay: 600ms;
}
.about-skills > div span:nth-child(2) span:nth-child(1):hover::after {
  content: "Wordpress";
}
.about-skills > div span:nth-child(2) span:nth-child(2) {
  transition-delay: 700ms;
}
.about-skills > div span:nth-child(2) span:nth-child(2):hover::after {
  transition-delay: 700ms;
  content: "Vuejs";
}
.about-skills > div span:nth-child(2) span:nth-child(3) {
  transition-delay: 800ms;
}
.about-skills > div span:nth-child(2) span:nth-child(3):hover::after {
  transition-delay: 800ms;
  content: "Tailwind";
}

/* VISION */
.vision {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.vision > img {
  width: 100svw;
  min-height: 100px;
  object-fit: cover;
  z-index: 2;
}

.vision-content {
  width: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin-bottom: 30svw;
  margin-top: 2rem;

  position: relative;
}
.vision-content::after {
  content: "";
  position: absolute;
  z-index: -1;
  border: 1px solid var(--primary);
  border-radius: 100%;
  width: 50svw;
  height: 50svw;
  display: none;
}

.vision-content > h2 {
  text-transform: none;
}

.vision-content > p {
  width: 70%;
  font-size: clamp(0.8rem, 1.2rem, 1.3rem);
  font-weight: lighter;
}

@media screen and (min-width: 800px) {
  .vision-content > p {
    width: 40%;
  }
}
@media screen and (min-width: 600px) {
  .vision-content::after  {
    display: block;
  }
}


/* PASSIONS */
/* main */
.passions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* header */
.passions-header {
  text-align: center;
  width: 200svw;
}
.passions-header > * {
  border: 1px solid var(--primary);
  border-right: 0;
  border-left: 0;
  margin: 0;
}
.passions-header > *:last-child {
  border-top: 0;
}

/* GAME */
.game-container {
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x proximity; /* Ensure this is on the parent container */
  margin-top: 200px;
}

.game-outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  scroll-snap-type: y mandatory; /* Ensure this is on the parent container */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.game-outer-wrapper::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}

.game-wrapper {
  display: flex;
  flex-direction: row;
  width: 600vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.game-slide {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
}
.game-slide * {
  width: 100%;
}

.game-container {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.game-slide-1 {
  background-color: red;
}
.game-slide-2 {
  background-color: lightgreen;
}
.game-slide-3 {
  background-color: cyan;
}
.game-slide-4 {
  background-color: pink;
}
.game-slide-5 {
  background-color: purple;
}
.game-slide-6 {
  background-color: orange;
}

.game-outer-wrapper {
  scroll-snap-type: y mandatory;
}




/* CAROUSSEL */
.music {
  width: 100%;
  margin: 10rem 0 5rem 0;
}

@media screen and (min-width: 850px) {
  .music {
    margin: 10rem 0 15rem 0;
  }
}

.music-header {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
}
.music-header h3 {
  margin-bottom: 10px;
}
.music-header span {
  width: 90%;
}
.music-slider-wrapper {
  width: 100%;
}
.music-slider {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding-left: 2rem;
  overflow: scroll hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}

.music-slider-img-container {
  flex: 0 0 auto;
  scroll-snap-align: start;
  max-width: 400px;
}
.music-slider img {
  max-width: 180px;
  width: auto;
  height: auto;
}

@media screen and (min-width: 500px) {
  .music-slider img {
    max-width: 300px;
  }
}
@media screen and (min-width: 850px) {
  .music-slider img {
    max-width: 100%;
  }
  .music-header span {
    width: 50%;
  }
}

/* Popup */
.music-content-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20000;
  overflow: hidden;
  opacity: 0;
}
.music-popup-show {
  opacity: 1;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 70%;
}
.popup-content > img {
  max-width: 50%;
  width: auto;
  max-height: 800px;
}
.popup-content > div {
  color: white;
}
.popup-content > div > h6 {
  font-family: "league gothic", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: lighter;
  margin: 0;
}
.music-content-popup::after,
.music-content-popup::before {
  content: "";
  position: absolute;
  top: 100px;
  right: 100px;
  width: 35px;
  height: 1px;
  background-color: white;
}
.music-content-popup::after {
  rotate: 45deg;
}
.music-content-popup::before {
  rotate: -45deg;
}

@media screen and (min-width: 1024px) {
  .popup-content {
    flex-direction: row;
  }
}

/* CTA */
.cta {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: clamp(300px, 400px, 500px);
  border-top: 1px solid var(--primary);
}

.cta > div:first-child {
  border-bottom: 1px solid var(--primary);
}
.cta > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 850px) {
  .cta {
    flex-direction: row;
  }
  .cta > div:first-child {
    border-right: 1px solid var(--primary);
    border-bottom: 0;
  }
}
