/* -------- CUSTOM STYLES -------- */
:root {
    /* Colors */
    --primary: #2EB2DB;
    --background: #F0EEE3;
    --black: #000;

    /* Fonts */
    /* main */
    --main-title-font: '';
    --main-title-size: 2rem;
    --secondary-title-font: '';
    --secondary-title-size: 1.5rem;
    --base: 1rem;

    /* footer */
    --footer-links-font: '';
    --footer-links-size: 1rem;
}


/* -------- NORMALIZE -------- */
img {
    width: 100px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--background);
    /* overflow-X: hidden; */
}

.body-wrapper {
    padding-top: 100px;
    padding-right: 100px;
    padding-left: 100px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* margin: 0; */
}

textarea {
    resize: none;
}
