/* -------- CUSTOM STYLES -------- */
:root {
  /* Colors */
  --primary: #2eb2db;
  --background: #f0eee3;
  --black: #000;

  /* Fonts */
  /* main */
  --base-font: "Fredoka", sans-serif;
  --base-size: 1rem;
  --base-weight: 100;
  --main-title-font: "Italiana", sans-serif;
  --main-title-size: 6rem;
  --main-title-weight: 200;
  --secondary-title-font: "Italiana", sans-serif;
  --secondary-title-size: 4rem;
  --secondary-title-weight: 200;
  --tertiary-title-font: "League Gothic", sans-serif;;
  --tertiary-title-size: 1.8rem;
  --tertiary-title-weight: normal;

  /* footer */
  --footer-links-font: "";
  --footer-links-size: 1rem;
}

/* -------- NORMALIZE -------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background);
  /* overflow-X: hidden; */
}

.body-wrapper {
  padding-top: 100px;
  margin-right: 100px;
  margin-left: 100px;
  overflow-x: hidden;

  border: 1px solid var(--primary);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

p,
span {
  margin: 0;
  font-family: var(--base-font);
  font-size: var(--base-size);
  font-weight: var(--base-weight);
}

h1,
h2 {
  font-family: var(--main-title-font);
  color: var(--primary);
  font-size: var(--main-title-size);
  font-weight: var(--main-title-weight);
  text-transform: uppercase;
}
h2 {
    margin: .5rem;
}
h3 {
    font-family: var(--secondary-title-font);
    font-size: var(--secondary-title-size);
    font-weight: var(--secondary-title-weight);
    color: var(--primary);
    margin: 0;
}

h4 {
    font-family: var(--tertiary-title-font);
    font-size: var(--tertiary-title-size);
    font-weight: var(--tertiary-title-size);
    color: var(--primary);
    margin: 0;
}

h5 {
  margin: 0;
  font-family: 'league gothic', sans-serif;
  font-weight: lighter;
  font-size: 1.05rem;
}

textarea {
  resize: none;
}
